
*{
    margin:0;
    padding:0;
}

#nombresH{
    display: flex;
    font-family: 'Abril Fatface', cursive;
    letter-spacing:0.1em;
    font-weight:700;
    font-size: 30rem;
    align-items: center;
    justify-content: center;
}

#letraV{
    color: #2d23ea;
}
#letraB{
    color: #8100ea;
}
#letraE{
    color: #f49595;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
    color:#373737;
    background-color:rgb(255, 255, 255);
}

h1, h2{
    margin-top: 3%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color:white;
    text-align:center;
    letter-spacing:0.1em;

    font-weight:700;
}

h1{
    font-size:3rem;
}

h2{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.9rem;
    letter-spacing:0.1em;
}

@media screen and (max-width: 768px){
    h1{ font-size:2.25rem; }
    h2{ font-size:1.5rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:1.5rem; }
    h2{ font-size:1rem; }
}

@media screen and (max-width: 900px){
    h5{ font-size:4.5rem; }

}

h3{
    display:none;
}

h5, h6{
    font-weight:700;
}



header{
    width:100%;
    top:10%;
    position: absolute;
    z-index:9;

}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:100%;
    padding:0 0 .5% 0;
    height: 10%;
}

main{
    width:100%;

}

#equipo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:#fff;
    color:rgba(255,255,255,1);
}


@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 6rem 2rem 2rem 2rem;
        max-width:50%;
    }
}


#portafolio{
    display: flex;
    width:100%;
    padding-top: .25%;
    padding-bottom: 5%;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgba(22, 22, 22, 0.692));
}

.item {

    width:23%;
    margin:1%;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px){
    .item{
        width:48%;
        margin:1%;
        background:rgb(40, 14, 153);
        color:#eee;
    }
}
 @media screen and (max-width: 576px){
     .item{
         width:96%;
         margin:2%;
         background:#000;
         color:#FFF;
    }
}
 .item:hover{
     cursor:crosshair;
}
 .item figure{
     overflow:hidden;

}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter: grayscale(1);

}

.item:hover figure img{
     transform:scale(1.2);
     filter: grayscale(0);
     transition:all ease-out 1s;
}
 .item h4{
     font-size:1.3em;
     letter-spacing:0.025em;
     margin:5% 5% 7% 5%;
}
 .item p{
     font-size:0.875em;
     letter-spacing:0.05em;
     margin:2% 10% 6% 5%;
}


.imagenIntegrante1{
    transition: all 0.2s ease;
    background-color: rgb(215,153,156);
    opacity: 100%;
    background-image:url('Media/portada_pau.png');
    background-position: center;
    background-size: 100% 100%;
    padding-top: 15%;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: .5%;
}

.imagenIntegrante1:hover{
    background-color:#f49595;
    background-position: left, center, right;
    background-image:url('Media/PaulaFoto.jpg' ),url('Media/centropaula.jpg'),url('Media/fortalezaspaula.jpg');
    opacity: 0%;
    padding-top: 15%;
    background-repeat: no-repeat;
    background-size:  20% 100%;
}

.imagenIntegrante2{
    transition: all 0.2s ease;
    background-color: #8100ea;
    background-image:url('Media/portada_benjita.png');
    background-size: 100% 100%;
    padding-top: 15%;
    text-align: center;
    background-repeat: no-repeat;
    margin-bottom: .5%;
}

.imagenIntegrante2:hover{
    background-color:#8100ea;
    background-position: left, center, right;
    background-image:url('Media/benjanombre.jpg' ),url('Media/centrobenja.jpg'),url('Media/fortalezasbenja.jpg');
    padding-top: 15%;
    background-repeat: no-repeat;
    background-size:  20% 100%;
}
.imagenIntegrante3{
    transition: all 0.2s ease;
    background-color: #2d23ea;
    background-image:url('Media/portada_florencia.jpg');
    background-size: 100% 100%;
    padding-top: 15%;
    text-align: center;
    background-repeat: no-repeat;
    margin-bottom: .5%;
}

.imagenIntegrante3:hover{
    background-color:#2d23ea;
    background-position: left, center, right;
    background-image:url('Media/vicunombre.jpg' ),url('Media/centrovicu.jpg'),url('Media/fortalezasvicu.jpg');
    padding-top: 15%;
    background-repeat: no-repeat;
    background-size:  20% 100%;
}

.integrantes{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: rgb(0, 0, 0);
    width:100%;
    padding:2.5em 0 2em 0;
    text-align:center;
}
footer p{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-size:0.9em;
}
